h1.time-remaining {
  margin-top: 0px;
  font-family: monospace;
  font-weight: normal;
  font-size: 42px;
  margin-bottom: 0px;
}

div.time-display {
  padding: 16px;
  background-color: #eee;
  border-radius: 8px;
  margin-bottom: 16px;
}

.button-wrapper {
  display: flex;
}